.DS_Store

Brewfile.lock.json
nvim/lazy-lock.json
nushell/history.txt

# Ignore all files within the 'zed' folder, except the 'settings.json' file
zed/*
!zed/settings.json
!zed/themes

!tmux/
!tmux/**
tmux/plugins/
